
priority -50

#############################################
# Snippets for the MoinMoin markup language #
#############################################

snippet {{{ "Code block" b
{{{#!highlight ${1:bash} numbers=disable
$0
}}}
endsnippet

# vim:ft=snippets:
